<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldkj.environmental" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8ca7e397622e2056bb839d5269336e81"/>
        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".services.EnvServices"
            android:enabled="true"
            android:exported="true" >
        </service>
        <receiver
            android:name=".receiver.EnvReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <!--接受短信-->
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <!--wifi 状态变化-->
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <!--网络状态变化-->
                <!--   <action android:name="android.net.wifi.STATE_CHANGE"/>-->
            </intent-filter>
        </receiver>
    </application>

</manifest>
